button {
  background-color: #d597ce;
  border-color: #d597ce;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.54);
  font-weight: 700;
  padding: 0.5rem;
}

.btn-disabled {
  background-color: #c0c0c0;
  border-color: #c0c0c0;
  color: rgba(0, 0, 0, 0.28);
}

.copy-button-status {
  margin: 0.5rem 0;
}
